body {
    margin: 0;
    background: rgb(51, 224, 224);
  }
  #value{
    background-color: rgb(133, 34, 214);
  }
  input #value{
    width: 20%;
    height: 20%;
  }
  .btn{
    border: 1px solid #fff;
    background-color: rgb(37, 201, 146);
    border-radius: 4px;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
  }
  .corner{
    position: absolute;
    top: 5px;
    right: 10px;
  }